# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
env/
venv/

# Environment variables
.env
.env.*

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# VSCode
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs and outputs
*.log

# Output folders
__output__/
outputs/
cache/
